<%include ../partials/header %>

<!--  Show page for a customer review 
User can edit/ delete their own review, comments.
Admin and edit, delete everything -->

    <div class="container main_container pt-2">
        <div class="card card-body bg-light p-4 mt-1">
            <h1 class="display-5">
                Customer Review
            </h1>
        </div>

        <div class="row py-3">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="<%= review.image %>" class="img-rounded float-right img_cafe">
            </div>
            <div div class="col-lg-9 col-md-6 col-sm-6">
                <div class="card card-body bg-light py-2 my-2">
                    <div>
                        <h5 class = "display-5 pt-2">
                            <span class="text-primary float-left">
                                <strong>"<%= review.reviewTitle %>"</strong>
                            </span>
                            <span class="text-warning float-right">
                                <span>Star Rating: </span>
                                <%= review.star %>
                            </span>
                        </h5>
                    </div>
                    <h6 class = "pt-3">
                        <%= review.reviewContent %>
                    </h6>
                    <h6 class="text_italic py-2 text-muted">
                        <small><span>Reviewed by: </span>
                        <%= review.author.username %></small>
                    </h6>
<!-- 				Show edit/delete button only for review owner/ admin	 -->
					<div>
                    <% if(currentUser && (review.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                        <a class="btn btn-xs btn-warning" href="/review/<%= review._id %>/edit">Edit</a>
                        <form class="button_row" action="/review/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <% }%>
					
						
					</div>
                </div>

                <!-- 				 -->
                <a class="my-3 btn btn-success" href="/review/<%= review._id %>/comment/new">Leave Response To This Review</a>

                <div class="card card-body bg-light p-2">
                    <!-- 	Comment from other customers	 -->
                    <div class = "py-3">
						
                        <% review.comments.forEach(function(comment){ %>
                            <div>
                                <h6 class = "pt-2">
                                    <%= comment.text %>
                                        <br>
                                        <p class="text_italic">-
                                            <small><%= comment.author.username %>-</small></p>
                                </h6>
								
								<!-- 				Show edit/delete button only for commnet owner/ admin	 -->
								<div class = "pt-2">
                                <% if(currentUser && (comment.author.id.equals(currentUser._id)||currentUser.isAdmin)){ %>
                                    <a class="btn btn-xs btn-warning" href="/review/<%= review._id %>/comment/<%=comment._id %>/edit">Edit</a>
                                    <form class="button_row" action="/review/<%=review._id %>/comment/<%=comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                    <% } %>
								</div>
                            </div>
                            <%	}); %>
                    </div>
                </div>
			</div>
        </div>
    </div>

    <%include ../partials/footer %>