<%include ../partials/header %>

    <div class="container main_container">
        <div class="space_add"></div>
        <div class="well well-sm text_center">
            <h3>
                Customer Review
            </h3>
        </div>
        <div class="space_add"></div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="<%= review.image %>" class="img_cafe">
                <div class="space_add"></div>
            </div>
            <div div class="col-lg-9 col-md-6 col-sm-6">
                <div class="well well-sm">
                    <h5>
                        <span class="text-primary pull-left">
                            <strong>"<%= review.reviewTitle %>"</strong>
                        </span>
                        <span class="pull-right">
                            <span>Star Rating: </span>
                            <%= review.star %>
                        </span>
                    </h5>
                    <div class="space_add_small"></div>
                    <h5>
                        <%= review.review %>
                    </h5>
                    <h5 class="text_italic"> 
                        <span>Reviewed by: </span><%= review.author.username %></h5>
                </div>
				
			<!-- 				 -->
				<div class="space_add_small"></div>
                    <a class="btn btn-success" href="/review/<%= review._id %>/comment/new">Leave Response To This Review</a>
				<div class="space_add_small"></div>
				
                <div class="well well-sm">
                    <!-- 	Comment from other customers	 -->
                    <div>
                        <% review.comments.forEach(function(comment){ %>
                            <h5>
								<%= comment.text %>
								<br><p class = "text_italic">
								-<%= comment.author.username %>-
                                </p>
                            </h5>
                            <%	}); %>
                    </div>
                </div>
                <div class="space_add"></div>

            </div>

        </div>

    </div>

    <%include ../partials/footer %>